* {
    font-family: "Allerta Stencil", Sans-serif;
    text-align: center;
}

body {
    background-color:#2A2B2DFF;
}

h1 {
    color:  #FCF6F5FF;
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 250px;
}

#buttonRu, #buttonEn {
    background-color: #2DA8D8FF; 
    color: #FCF6F5FF;
    padding: 15px 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
  }

#buttonRu:hover, #buttonEn:hover {
    background-color: #D9514EFF;
}

#thetext {
    background-color: #FCF6F5FF;
    width: 560px;
    display: block;
    margin: 0 auto 25px;
}
